<ion-view hide-back-button="true" view-title="Registrate">
  <ion-content class="padding">
    <div class="padding">
      <div class="row">
     <div class="col text-center">
      <h2>Registro de usuarios</h2>
    </div>
  </div>
    </div>
    <form action="POST">
      <label class="item item-input">
        <span class="input-label">Nombre</span>
        <input type="text" placeholder="Agrega tu nombre">
      </label>
      <label class="item item-input">
        <span class="input-label">Correo</span>
        <input type="email" placeholder="Agrega tu correo">
      </label>
      <label class="item item-input ">
        <span class="input-label">Pais</span>
        <input type="text" placeholder="Selecciona tu país">
      </label>
      <label class="item item-input ">
        <span class="input-label">Contraseña</span>
        <input type="password" placeholder="Selecciona tu contraseña">
      </label>
    <br><br>
    <div class="row">
   <div class="col text-center">
  <input class="button  button-calm" type="submit" name="submit" value="Registrarse">
  </div>
</div>
  <br><br>
    </form>
    <div class="container">
        <button class="button button-positive button-block ion-social-facebook">  Facebook</button>
        <button class="button button-assertive button-block ion-social-googleplus">  Google</button>
        <button class="button button-balanced button-block ion-social-twitter">  Twitter</button>
    </div>
  </ion-content>
</ion-view>
